body {
    user-select: none;
    background-color: rgb(192, 209, 208);
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
background-color:rgb(17, 135, 55);
color: rgb(255, 255, 255);
}